li{
  list-style-type: none;
}

body{
  background-color: rgb(215, 215, 215);
}

.SEOForm{
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.SEOValidationField{
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.Error{
    background-color: red;
    color: white;
    border-radius: 10px;
    min-width: 25%;
    text-align: center;
    height: 25px;
    font-weight: bold;
}

.Ok{
    background-color: rgb(0, 255, 102);
    color: white;
    border-radius: 10px;
    min-width: 25%;
    text-align: center;
    height: 25px;
    font-weight: bold;
}

.SEOValidationFieldTitle{
  font-weight: bolder;
}