/* li{
  list-style-type: none;
} */

body{
  background-color: rgb(215, 215, 215);
}

h1{
  text-align: center;
}

.SEOForm{
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  align-items: center;
  justify-content: space-evenly;
}

.text-chunk{
  display: flex;
  flex-direction: row;
}





